<% if @city.present? %>


<div class="card">

    <div class="card-body">
        <% if @planet_to_display.id != 1%>
        <p><%= @city.capitalize %>. <%= @current_weather %>?. <%= @current_temperature %>ºC?</p>
        <% end %>
        <p>It's like <strong><em><%= @planet_to_display.name.upcase %></em></strong> out there</p>
        <p><strong><em><%= @planet_to_display.description %></em></strong></p>
    </div>
    <%= image_tag(@planet_to_display.background, :class => "card-img-bottom" ,:alt => "planet") %>
</div>

<% link_to 'Show', @planet_to_display %>
<% else %>

<p>Please search for a city</p>

<% end %>